* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

h2 {
  color: var(--Text-main, #515050);
  font-family: "Caesar Dressing";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h3 {
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

img,
video {
  display: block;
}

html {
  --color-grey: #515050;
  --color-bg-grey: #bcbfc3;
  --color-white: #515050;
  --color-bg-light: #fff;
  --color-blue: #279ef8;
  --color-yellow: #f8af27;
  --color-green: #12965d;
  --color-red: #f82727;
  --color-cream: #f7f6f6;
  --color-black: #000;
  --color-text-main: #000;
  --color-filtre-main: #fff;
}

html[data-theme="dark"] {
  --color-bg-grey: #515050;
  --color-white: #fff;
  --color-bg-light: #515050;
  --color-blue: #a3d7ff;
  --color-yellow: #f7f43e;
  --color-green: #76e5b5;
  --color-red: #f8a7a7;
  --color-text-main: #fff;
  --color-filtre-main: #000;
}

html[data-theme="light"] #light-mode-btn {
  display: none;
}

html[data-theme="dark"] #dark-mode-btn {
  display: none;
}
