.l-header {
  background: var(--color-bg-grey);
}

.l-footer {
  background: var(--color-bg-grey);
}

.l-main {
  background: var(--color-bg-light);
}

/* .l-main {
  display: flex;
  padding: 0 80px;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  align-self: stretch;
} */
