header * {
  color: var(--color-text-main);
}

.header-switch-mode-btn {
  color: var(--color-text-main);
  background: transparent;
}

.header-dark {
  border: 1px solid var(--color-black, #000);
  background: var(--color-bg-grey, #515050);
}

.header-light {
  border: 1px solid var(--color-black, #000);
  background: var(--color--white, #fff);
}

.header-atlas {
  color: var(--Text-secondary, #000);
  font-family: "Caesar Dressing";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
